<!DOCTYPE HTML>

<html ng-app="tugtog">
<head>
	<script type="text/javascript" src="bower_components/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/prelude-ls/browser/prelude-browser-min.js" type="text/javascript"></script>
	<script type="text/javascript" src="bower_components/buzz/dist/buzz.min.js" type="text/javascript"></script>

	<link rel="stylesheet" type="text/css" href="styles/css/style.css">

	<script type="text/javascript" src="js/utilities.js"></script>
	<script type="text/javascript" src="js/menu.js"></script>
	<script type="text/javascript" src="js/settings.js"></script>
	<script type="text/javascript" src="js/vector.js"></script>
	<!--<script type="text/javascript" src="js/score.js"></script>-->
	<script type="text/javascript" src="js/note.js"></script>
	<script type="text/javascript" src="js/level.js"></script>
	<script type="text/javascript" src="js/character.js"></script>
	<script type="text/javascript" src="js/renderer.js"></script>
	<script type="text/javascript" src="js/game.js"></script>
	<script type="text/javascript" src="js/lane.js"></script>
	<script type="text/javascript" src="js/notifications.js"></script>
	<!--<script type="text/javascript" src="js/beat.js"></script>-->
	<script type="text/javascript" src="js/engine.js"></script>
</head>
<body ng-controller="Main" 
	ng-keydown="keydown($event)"
	ng-keyup="keyup($event)"
	ng-init="count = 0">
	<section 
		class="title"
		ng-show="current == 'title'"
		ng-style="{'background-image': 'url(images/bgs/title.png)'}">
		<div class="btn-container">
			<button class="btn btn-block btn-large" ng-click="current = 'levels'">
				Play
			</button>
			<button class="btn btn-block btn-large" ng-click="current = 'credits'">
				Credits
			</button>
		</div>
	</section>
	<section 
		id="credits" 
		ng-show="current == 'credits'">
		<div class="footer">
			<button class="btn" ng-click="current = 'title'">
				Back
			</button>
		</div>
	</section>
	<section ng-show="current=='levels'">
		<div 
			class="level-select" 
			ng-repeat="level in levels" 
			ng-show="currentLevel == $index" 
			ng-style="{'background-image': 'url(images/bgs/' + getTheme(level.theme).menu + ')'}"> 
			<ul class="songs">
				<li>
					<button class="page back" ng-click="back()" ng-class="{'hidden': currentLevel <= 0}"><img src="images/left.png"></button>
				</li>
				<li>
					<div class="song locked">
						<img src="images/locked.png">
						<h3>Locked</h3>
					</div>
				</li>
				<li>
					<button class="song" ng-click="playSong(level)" ng-class="level.theme">
						<img ng-src="images/{{level.icon}}">
						<h3>{{level.name}}</h3>
					</button>
				</li>
				<li>
					<div class="song locked">
						<img src="images/locked.png">
						<h3>Locked</h3>
					</div>
				</li>
				<li>
					<button class="page next" ng-click="next()" ng-class="{'hidden': currentLevel >= levels.length - 1}"><img src="images/right.png"></button>
				</li>
			</ul>
		</div>
		<div class="footer">
			<button class="btn" ng-click="current = 'title'">
				Back
			</button>
		</div>
	</section>
	<section ng-show="current=='game'" ng-style="{'background-image': 'url(images/bgs/' + themes[currentLevel].bg + ')'}">
		<div class="overlay">
			<h2 class="score">{{game.score}}</h2>
		</div>
		<canvas 
			id="tugtog" 
			width="960" 
			height="640" >
		</canvas>
	</section>
	<section ng-show="current == 'end'" class="end-screen">
		<div class="score">
			<h2>End!</h2>
			<h1 class="score">{{game.score}}</h1>
			<button class="btn" ng-click="endSong()">Back to Title screen</button>
		</div>
	</section>
</body>
</html>