h1 {
  font-size: 64px; }

h2 {
  font-size: 48px; }

h3 {
  font-size: 24px; }

a {
  cursor: pointer; }

button {
  background: transparent;
  outline: none;
  border: none;
  font-family: "Action Man";
  cursor: pointer; }

body {
  font-family: "Action Man";
  margin: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.songs {
  text-align: center; }
  .songs li {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top; }
    .songs li:last-child {
      margin-right: 0px; }

.song {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  height: 230px;
  width: 210px;
  padding: 20px;
  color: white;
  border-radius: 8px; }
  .song.locked {
    background-color: #6a6868;
    border: 10px solid #504f4f;
    color: white; }
    .song.locked:not(.locked):hover {
      background-color: #848181;
      border: 10px solid #6a6868; }
    .song.locked:not(.locked):active {
      background-color: #504f4f;
      border: 10px solid #373535; }
  .song.beach {
    background-color: #34b0e0;
    border: 10px solid #1e95c3;
    color: white; }
    .song.beach:not(.locked):hover {
      background-color: #60c1e7;
      border: 10px solid #34b0e0; }
    .song.beach:not(.locked):active {
      background-color: #1e95c3;
      border: 10px solid #177397; }
  .song.bukid {
    background-color: #64c746;
    border: 10px solid #4ea733;
    color: white; }
    .song.bukid:not(.locked):hover {
      background-color: #85d36d;
      border: 10px solid #64c746; }
    .song.bukid:not(.locked):active {
      background-color: #4ea733;
      border: 10px solid #3c8027; }
  .song.barrio {
    background-color: #db673a;
    border: 10px solid #bf4f23;
    color: white; }
    .song.barrio:not(.locked):hover {
      background-color: #e38865;
      border: 10px solid #db673a; }
    .song.barrio:not(.locked):active {
      background-color: #bf4f23;
      border: 10px solid #943d1b; }
  .song img {
    display: block;
    margin: 0px auto; }
  .song h3 {
    margin-top: 16px;
    font-size: 24px; }

.level-select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 128px;
  width: 960px;
  height: 640px; }

.title {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  padding-top: 440px; }
  .title h2 {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 0; }

.page {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  display: block;
  margin-top: 84px;
  opacity: 0.8; }
  .page:hover {
    opacity: 1; }

.hidden {
  visibility: hidden; }

canvas {
  position: static; }

section {
  width: 960px;
  height: 640px;
  position: relative; }

#game {
  position: relative; }

.score {
  text-align: center;
  width: 960px;
  color: white; }

.overlay {
  position: absolute; }

.footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: right;
  padding: 20px; }

.end-screen {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  background-image: url(/images/bgs/score.png);
  top: 0px;
  color: white;
  padding-top: 134px; }

#credits {
  background-image: url(/images/bgs/credits.png); }

.btn {
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  background-color: #34b0e0;
  border: 10px solid #1e95c3;
  color: white; }
  .btn:not(.locked):hover {
    background-color: #60c1e7;
    border: 10px solid #34b0e0; }
  .btn:not(.locked):active {
    background-color: #1e95c3;
    border: 10px solid #177397; }
  .btn.btn-block {
    display: block;
    width: 100%; }
  .btn.btn-large {
    font-size: 24px; }

.btn-container {
  width: 60%;
  margin: 0px auto; }
