@import bourbon/bourbon

body 
	font-family: "Action Man"

ul
	list-style: none
	margin: 0
	padding: 0

.songs
	text-align: center
	li
		display: inline-block
		margin-right: 20px
		&:last-child
			margin-right: 0px

.song
	display: block
	height: 128px
	width: 128px

canvas
	position: static

section
	width: 960px
	height: 640px

#game
	/*position: relative*/
#game h2
	position: absolute
	text-align: center
	width: 960px
	font-size: 48px
	color: white	

.level-select
	width: 960px
	height: 640px