@import bourbon/bourbon

$grey: #6a6868
$blue: #34b0e0
$green: #64c746
$red: #db673a
$font: "Action Man"

=reset-button
	background: transparent
	outline: none
	border: none
	font-family: $font
	cursor: pointer

h1
	font-size: 64px
h2
	font-size: 48px
h3
	font-size: 24px
a
	cursor: pointer
button
	+reset-button

=song-button($color)
	background-color: $color
	border: 10px solid darken($color, 10%)
	&:hover
		background-color: lighten($color, 10%)
		border: 10px solid $color
	&:active
		background-color: darken($color, 10%)
		border: 10px solid darken($color, 20%)

body 
	font-family: "Action Man"
	margin: 0

ul
	list-style: none
	margin: 0
	padding: 0

.songs
	text-align: center

	li
		display: inline-block
		margin-right: 20px
		vertical-align: top
		&:last-child
			margin-right: 0px

.song
	+transition(all 0.2s)
	+box-sizing(border-box)
	display: block
	height: 230px
	width: 210px
	padding: 20px
	color: white
	border-radius: 8px
	&.locked
		+song-button($grey)
	&.beach		
		+song-button($blue)
	&.bukid
		+song-button($green)
	&.barrio
		+song-button($red)
	img
		display: block
		margin: 0px auto
	h3
		margin-top: 16px
		font-size: 24px

.level-select
	+box-sizing(border-box)
	padding-top: 128px
	width: 960px
	height: 640px
	
.page
	display: block
	margin-top: 84px

canvas
	position: static

section
	width: 960px
	height: 640px

#game
	position: relative

.score
	text-align: center
	width: 960px
	// font-size: 48px
	color: white	
	// margin: 0

.overlay
	position: absolute

.end-screen
	position: absolute
	background-color: rgba(black, 0.8)
	top: 0px
	color: white